# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 虚拟环境 / Conda环境
env/
venv/
.venv/
ENV/
.env/
*.conda/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# PyInstaller缓存
*.manifest

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# 日志 / 临时文件
# =========================
*.log
*.tmp
*.temp

# =========================
# FAK生成物
# =========================
*.fak
*.zip


# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Conda
# =========================
conda-meta/